<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Card</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
    <div class="id-card-holder">
        <div class="id-card id-bg1">

            <div class="photo">
                <img src="<%= photoUrl %>">
            </div>
            <h2>
                <%= memberName%>
            </h2>
            <h3>
                <%= designation %>
            </h3>
            <div class="footer">
                <h3>
                    Unique Id - <%= uniqueId %>
                </h3>
            </div>
        </div>
    </div>
    
    <div class="id-card-holder">
        <div class="id-card id-bg2">
            <table class="details">
                <tbody>
                    <tr>
                        <td>पुत्र/पुत्री/पत्नी - </td>
                        <td><strong><%= fatherName %></strong> </td>
                    </tr>
                    <tr>
                        <td>पता- </td>
                        <td><strong><%= address %></strong></td>
                    </tr>
                    <tr>
                        <td>आधार नं - </td>
                        <td><strong><%= aadharNum %></strong></td>
                    </tr>
                    <tr>
                        <td>वैधता- </td>
                        <td><strong><%= validity %></strong></td>
                    </tr>
                    <!-- <p>पुत्र - <strong><%= fatherName %></strong></p>
                    <p>पता - <strong><%= address %></strong></p>
                    <p>आधार नं- <strong><%= aadharNum %></strong></p>
                    <p>फ़ोन नं- <strong><%= phoneNum %></strong></p>
                    <p>वैधता- <strong><%= validity %></strong></p> -->
                </tbody>
            </table>
            <div class="instruction">
                <h3>अनुदेश:-</h3>
                <!-- <p>- इस कार्ड का उपयोग अवैध और हिंदू विरोधी गतिविधियों में नहीं किया जा सकता है |</p> -->
                <p>- यह प्रयास फाउंडेशन का आईडी कार्ड है। इसका उपयोग सरकारी दस्तावेज़ों में नहीं किया जा सकता</p>
                <p>- पत्रक का दुरुपयोग करने पर, अपराधिक कार्यों में लिप्त होने पर, असामाजिक कार्य करने पर, नशे के व्यापार में लिप्त पाये जाने पर, संस्था के विरुद्ध क्रियाकलाप  में पाये जाने पर बिना पूर्व सूचना के सदस्यता समाप्त कर दी जाएगी</p>
                <h2>प्रयास जन कल्याण फाउंडेशन</h2>
            </div> 
             <!-- <div >
                <h2>
                    प्रयास जन कल्याण फाउंडेशन
                </h2>
            </div> -->
            <div class="footer">
                <p><strong>प्रयास जन कल्याण फाउंडेशन</strong> Neemrana, NH-8 Delhi-Jaipur highway
                <p>District Alwar, Rajasthan <strong>301705</strong></p>
                <p>Ph: 01494-660600, 7073222393</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>