<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Card</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
    <div class="id-card-holder">
        <div class="id-card">
            <div class="header">
                <!-- <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/62/cd/f5/62cdf5b2-a731-76ca-aa69-fe82c8a09d94/source/512x512bb.jpg" alt="logo"> -->
                <h1>
                    प्रयास जन कल्याण फाउंडेशन
                </h1>
            </div>
            <div class="photo">
                <img src="<%= photoUrl %>">
            </div>
            <h2>
                <%= memberName%>
            </h2>
            <h3>
                <%= designation %>
            </h3>
            <div class="footer">
                <h3>
                    Unique Id - <%= uniqueId %>
                </h3>
            </div>
            <!-- <div class="footer">
                <p><strong>Mahamamdleshar ahayanand Santha</strong> Neemrana, NH-8 Delhi-Jaipur highway
                <p>
                <p>District Alwar, Rajasthan <strong>301705</strong></p>
                <p>Ph: 01494-660600, 7073222393</p>
            </div> -->
        </div>
    </div>
    
    <div class="id-card-holder">
        <div class="id-card">
            <div class="details">
                <p>पुत्र - <strong><%= fatherName %></strong></p>
                <p>पता - <strong><%= address %></strong></p>
                <p>आधार नं- <strong><%= aadharNum %></strong></p>
                <p>फ़ोन नं- <strong><%= phoneNum %></strong></p>
                <p>वैधता- <strong><%= validity %></strong></p>
            </div>
            <div class="instruction">
                <h3>अनुदेश:-</h3>
                <p>- इस कार्ड का उपयोग अवैध और हिंदू विरोधी गतिविधियों में नहीं किया जा सकता है |</p>
                <p>- आपका पदनाम अगले आदेश तक ही वैध रहेगा</p>
                <p>- संगठन विरोधी गतिविधियों में लिप्त पाए जाने पर आपको बर्खास्त किया जा सकता है</p>
                <p>- यह प्रयास फाउंडेशन का आईडी कार्ड है। इसका उपयोग सरकारी दस्तावेज़ों में नहीं किया जा सकता</p>
                <h2>प्रयास जन कल्याण फाउंडेशन</h2>
            </div>
            <div >
                <h2>
                    प्रयास जन कल्याण फाउंडेशन
                </h2>
            </div>
            <div class="footer">
                <p><strong>Prayas jan kalyan foundation</strong> Neemrana, NH-8 Delhi-Jaipur highway
                <p>
                <p>District Alwar, Rajasthan <strong>301705</strong></p>
                <p>Ph: 01494-660600, 7073222393</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>