<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Card</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <style>
.container {
    background-color: transparent;
    font-family: 'verdana';
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: column;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item {
        flex: 1;
    }
}

/* Media query for desktops (1024px and above) */

@media (min-width: 1024px) {
    .container {
        justify-content: center;
    }
}

@font-face {
    font-family: 'Arya Regular';
    src: url('../../assets/fonts/Arya-Regular.ttf') format('truetype');
    font-display: swap;
}

.id-card-holder {
    width: 325px;
    padding: 4px;
    margin: 5px auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: black;
    z-index: 2
}

.id-card {
    height: 500px;
    min-width: 317px;
    display: flex;
    flex-flow: column;
    padding: 0px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
}

.id-bg1 {
    background-image: url('../../assets/1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.id-bg2 {
    background-image: url('../../assets/2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.id-card img {
    /* background-color: #fac381; */
    margin: 0 auto;
}

.header {
    margin: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

.header img {
    width: 75px;
    /* margin-top: 15px; */
}

.header h1 {
    width: 240px;
    font-family: 'Arya Regular';
    margin: -10px;
}

.header h3 {
    width: 240px;
    color: #a11a00;
    font-family: 'Arya Regular';
    font-weight: 600;
}


.photo {
    /* background-color:#f7d0ad; */
    border: 5px;
    min-height: 130px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.photo img {
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 50%;
}

h1 {
    font-size: 30px;
    margin: 5px 0;
    color: #a11a00;
}

h2 {
    font-size: 25px;
    margin: 5px 0;
    color: #a11a00;
    font-family: 'Arya Regular';
}

h3 {
    font-size: 20px;
    margin: 2.5px 0;
    font-weight: 300;
}

.qr-code img {
    width: 50px;
}

p {
    font-size: 13px;
    margin: 0px;
}

.id-card-hook {
    background-color: black;
    width: 70px;
    margin: 0 auto;
    height: 15px;
    border-radius: 5px 5px 0 0;
}

.id-card-hook:after {
    content: '';
    background-color: white;
    width: 47px;
    height: 6px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 6px;
    border-radius: 4px;
}

.id-card-tag-strip {
    width: 45px;
    height: 40px;
    background-color: #d9300f;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: 9px;
    z-index: 1;
    border: 1px solid #a11a00;
}

.id-card-tag-strip:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a11a00;
    position: relative;
    top: 10px;
}

.id-card-tag {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #d9300f;
    margin: -10px auto -30px auto;

}

.id-card-tag:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid white;
    margin: -10px auto -30px auto;
    position: relative;
    top: -130px;
    left: -50px;
}

.footer {
    position: absolute;
    bottom: 0px;
    /* background-color:#f7d0ad7b; */
    padding: 5px 10px;
    width: 100%;
    /* margin: 0 auto; */
    margin: 0px 3px 3px 0px;
}

.footer p {
    text-align: center;
}

.details {
    text-align: left;
    padding-left: 5px;
    margin: 5px;
    margin-bottom: 1px;
}

.details p {
    line-height: 1.30;
    font-size: 15px;
    font-weight: semi-bold;
    font-family: 'Arya Regular';
    padding: 0px;
    color: #a11a00;

}

.details p strong {
    color: rgb(0, 0, 0);
}

.instruction {
    margin: 10px;
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
}

.instruction h3 {
    font-family: 'Arya Regular';
    font-size: 20px;
    text-align: center;
    color: black;
}

.instruction h2 {
    font-family: 'Arya Regular';
    text-align: center;
    color: #a11a00;
}

.instruction,
p {
    font-family: 'Arya Regular';
    font-size: 15px;
    text-align: left;
    font-weight: 500;

}
    </style>
</head>

<body>
    <div class="container">
        <div class="id-card-holder">
          <div class="id-card id-bg1">
      
            <div class="photo">
              <img src="<%= photoUrl %>">
            </div>
            <h2>
              <%= memberName %>
            </h2>
            <h3>
              <%= designation %>
            </h3>
            <div class="footer">
              <h3>
                Unique Id - <%= uniqueId %>
              </h3>
            </div>
          </div>
        </div>
      
        <div class="id-card-holder">
          <div class="id-card id-bg2">
            <table class="details">
              <tbody>
                <tr>
                  <td>पुत्र/पुत्री/पत्नी - </td>
                  <td><strong><%= fatherName %></strong> </td>
                </tr>
                <tr>
                  <td>पता- </td>
                  <td><strong><%= address %></strong></td>
                </tr>
                <tr>
                  <td>फ़ोन नं - </td>
                  <td><strong><%= phoneNum %></strong></td>
                </tr>
                <tr>
                  <td>आधार नं - </td>
                  <td><strong><%= aadharNum %></strong></td>
                </tr>
                <tr>
                  <td>वैधता- </td>
                  <td><strong><%= validity %></strong></td>
                </tr>
      
              </tbody>
            </table>
            <div class="instruction">
              <h3>अनुदेश:-</h3>
              <!-- <p>- इस कार्ड का उपयोग अवैध और हिंदू विरोधी गतिविधियों में नहीं किया जा सकता है |</p> -->
              <p>- यह प्रयास फाउंडेशन का आईडी कार्ड है। इसका उपयोग सरकारी दस्तावेज़ों में नहीं किया जा सकता</p>
              <p>- आपका यह पद केवल अगले आदेश तक वैध रहेगा</p>
              <p>- पत्रक का दुरुपयोग करने पर, अपराधिक कार्यों में लिप्त होने पर, असामाजिक कार्य करने पर, नशे के व्यापार में
                लिप्त पाये जाने पर, संस्था के विरुद्ध क्रियाकलाप में पाये जाने पर बिना पूर्व सूचना के सदस्यता समाप्त कर दी
                जाएगी</p>
              <h2>प्रयास जन कल्याण फाउंडेशन</h2>
            </div>
            <div class="footer">
              <p><strong> ग्राम - दारसागर, तहसील - कोतमा, जिला - अनुपपुर</strong></p>
              <p><strong>मध्य प्रदेश &nbsp;Ph: 9406770466, 8719037509</strong></p>
              <p>Reg. 05/48/02/15007/19</p>
            </div>
          </div>
        </div>
      </div>
      
</body>

</html>